$colore_main: #e8e8e8;
$colore_header: #000000;
$colore_footer: #1e1e1e;

$colore_header_i: #009cff;
$colore_text_li_header-bottom: #ffffff;
$colore_text_li_header-top: #747474;
$colore_text_jumbo: #c70cb9;
$colore_text_li_main: #4d4d4d;
$colore_text_footer: #777777;

$height_header: 100px;
